@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  background-color: darkgrey;
}

p:not(.product-link){
  line-height: 0.1em;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title{
  display: flex;
  justify-content: center;
}

.single-product {
  flex-shrink: 1;
  flex-basis: 20%;
  margin-top: 1%;
  border-style: solid;
  padding-left: 1%;
  padding-right: 1%;
}

.product-title {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.4em;
  min-height: 2.4em;
  text-align: center;
}

.product-link {
  word-break: break-all;
  font-size: x-small;
}

.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input{
  padding: 5px 8px;
  width: calc(30% - 2em);
  border-radius: 5px;
  margin: 0 8px;
}

.search-button{
  padding: 5px 5px;
  border-radius: 5px;
}

.MercadoLibre {
  color: #ffe600;
}

.Alkosto {
  color: #0056a6;
}

.Falabella {
  color: #aad500;
}

.Panamericana {
  color: #ec6608
}

.Linio {
  color: #ff5500
}